{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 my-5">
                <h3>Add Transaction</h3>
                <form action="/updateStatement" method="POST">
                    <div class="form-group">
                        <label for="date">Date/Month/Year</label>
                        <input type="date" name="date" class="form-control">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="name">Transaction</label>
                        <input type="text" name="name" class="form-control">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="">Amount</label>
                        <input type="number" name="amount" class="form-control">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select name="category" class="form-control">
                            <option value="income">Income</option>
                            <option value="expense">Expense</option>
                        </select> 
                    </div>
                    <input type="submit" class="btn btn-success my-2">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
