{% extends "layout.html" %}
{% block body %}
    <div class="container my-2">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Transaction</th>
                    <th>Amount</th>
                    <th>Categoty</th>
                    <th>Date</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for item in statements %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.amount | commaDigit() }}</td> 
                    <td><span class="badge bg-primary">{{ item.category }}</span></td>
                    <td>{{ item.date }}</td> 
                    <td>
                        <a href="/delete/{{item.id}}" onclick="return confirm('Do you want to delete')" class="btn btn-sm btn-danger">Delete</a>
                     </td>
                     <td>
                        <a href="/edit/{{item.id}}" class="btn btn-sm btn-success">Edit</a>
                     </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}